<section id="tasks">
  <header>
    <h2>{{ name }}'s Tasks</h2>
    <menu>
      <button (click)="onStartAddTask()">Add Task</button>
    </menu>
  </header>

  <ul>
    <!-- ngFor Directive -->
    <li *ngFor="let task of SelectedUserTasks">
      <app-task [task]="task"></app-task>
    </li>
  </ul>
</section>

<!-- property binding
 Event binding
 Two way binding
 class binding
 attribute binding -->

<!-- ngIf Directive -->
<app-new-task
  *ngIf="isAddingTask"
  [userId]="userId"
  (close)="onCloseAddTask()"
></app-new-task>
